<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AFTestDbConnectionString" connectionString="Data Source=andrejcurcic.database.windows.net;Initial Catalog=andrejDb;Integrated Security=False;User ID=AndrejCurcic;Password=Changes4611!;Connect Timeout=60;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
            providerName="System.Data.SqlClient" />
        <add name="AndrejCurcicAF.Properties.Settings.AFTestDbConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\AFTestDb.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="AndrejCurcicAF.Properties.Settings.AFTestDbConnectionString1"
            connectionString="Data Source=andrejcurcic.database.windows.net;Initial Catalog=andrejDb;Persist Security Info=True;User ID=AndrejCurcic;Password=Changes4611!"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>